#{extends 'Secure/layout.html' /}

#{if flash.success}
    <p class="success">${flash.success}</p>
#{/if}

<div id="contenu">
<br /> <br />
	Bienvenue !<br /> <br />
    Une fois inscrit, ce site vous permet de donner votre avis sur les films que vous avez vu en déposant des critiques.
	Vous pouvez créer la fiche d'un film si celle-ci n'existe pas encore sur le site afin de poser une critique.
	Il y a aussi la possibilté de noter les critiques et les films.	<br />
	En résumé, c'est vous qui faite la météo du cinéma ! 
	<br /><br />
	Bonne Visite !
	<br /> <br /><br /> <br />
</div>
	

<div class="row">
  <div class="col-md-6">
  	
    #{form @Application.Inscription()}
    <div class="form-horizontal">
      <fieldset>
        <legend>Inscription</legend>

        <div class="form-group">
          <label for="name" class="col-lg-4 control-label">Nom :</label>
          <div class="col-lg-8">
            <input type="text" name="name" value="${params.name}" class="form-control" id="inputDefault" placeholder="Nom">
            #{if errors.forKey('name')}
              <span class="error">${errors.forKey('name')}</span>
            #{/if}
          </div>
        </div>

        <div class="form-group">
          <label for="firstname" class="col-lg-4 control-label">Prénom :</label>
          <div class="col-lg-8">
            <input name="firstname" value="${params.firstname}" type="text" class="form-control" id="inputDefault" placeholder="Prénom">
            #{if errors.forKey('firstname')}
		      <span class="error">${errors.forKey('firstname')}</span>
		    #{/if}
          </div>
        </div>

        <div class="form-group">
          <label for="email" class="col-lg-4 control-label">Email :</label>
          <div class="col-lg-8">
            <input name="email" value="${params.email}" type="text" class="form-control" id="inputEmail" placeholder="Email">
            #{if errors.forKey('email')}
      			<span class="error">${errors.forKey('email')}</span>
    	  	#{/if}
          </div>
        </div>

        <div class="form-group">
          <label for="date" class="col-lg-4 control-label">Date de naissance :</label>
          <div class="col-lg-8">
            <input type="date" class="form-control" name="date" id="date" value="${params.date}"/>
            #{if errors.forKey('date')}
              <span class="error">${errors.forKey('date')}</span>
            #{/if}
          </div>
        </div>
        
        <div class="form-group">
          <label for="inputPassword" class="col-lg-4 control-label">Mot de passe :</label>
          <div class="col-lg-8">
            <input name="password" value="${params.password}" type="password" class="form-control" id="inputPassword" placeholder="Password">
            #{if errors.forKey('password')}
		      <span class="error">${errors.forKey('password')}</span>
		    #{/if}
          </div>
        </div>

        <div class="form-group">
          <label for="confirmePassword" class="col-lg-4 control-label">Confirmation :</label>
          <div class="col-lg-8">
            <input name="confirmePassword" value="${params.confirmePasword}" type="password" class="form-control" id="inputPassword" placeholder="Password">
            #{if errors.forKey('confirmePassword')}
		      <span class="error">${errors.forKey('confirmePassword')}</span>
		    #{/if}
          </div>
        </div>

        <div class="form-group">
          <label for="code" class="col-lg-4 control-label">Êtes vous humain ?</label>
          <div class="col-lg-8">
            <img src="@{Security.captcha(randomID)}" />
            <input type="text" name="code" value="" class="form-control" id="inputDefault" placeholder="Code">
            #{if errors.forKey('code')}
              <span class="error">${errors.forKey('code')}</span>
            #{/if}
            <input type="hidden" name="randomID" value="${randomID}" />

          </div>
        </div>

        <div class="form-group">
          <div class="col-lg-10 col-lg-offset-4">
            <button type="submit" class="btn btn-primary">S'inscrire</button>
          </div>
        </div>
      </fieldset>
      </div>
    #{/form}
  </div>
  <div class="col-md-6">
  	#{form @Secure.authenticate()} 
	  <div class="form-horizontal">
	      <fieldset>
	        <legend>Connexion</legend>
	
	        <div class="form-group">
	          <label for="username" class="col-lg-4 control-label">&{'secure.username'}</label>
	          <div class="col-lg-8">
	            <input name="username" value="${flash.username}" type="text" class="form-control" id="username" placeholder="Email">
	          </div>
	        </div>
	        
	        <div class="form-group">
	          <label for="password" class="col-lg-4 control-label">&{'secure.password'}</label>
	          <div class="col-lg-8">
	            <input name="password" value="" type="password" class="form-control" id="password" placeholder="Password">
	            <div class="checkbox">
		          <label>
		            <input type="checkbox"  name="remember" id="remember" value="true" ${flash.remember ? 'checked="true" ' : ''} />  &{'secure.remember'}
		          </label>
		        </div>
	          </div>
	        </div>
	
	        <div class="form-group">
	          <div class="col-lg-10 col-lg-offset-4">
	            <button type="submit" class="btn btn-primary" id="signin" value="&{'secure.signin'}">Se connecter</button>
	          </div>
	        </div>
	      </fieldset>
	 </div>
	#{/form}
  </div>
</div>